<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="brand-heading">Blog</h2>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-wrapper">
    {% for page in paginator.posts %}
        {% include post.html main="true" %}
    {% endfor %}

    <!-- Pagination links -->
    <div class="container text-center">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
        {% else %}
        <span class="previous">Newer</span>
        {% endif %}
        /
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Older</a>
        {% else %}
        <span class="next ">Older</span>
        {% endif %}
    </div>

</div>
