<!-- Footer -->
<footer>
    <div class="socials text-center">
        <p>
            {% include icon-instagram.html username=site.instagram_username %}
            {% include icon-facebook.html username=site.facebook_username %}
            {% include icon-youtube.html username=site.youtube_username %}
            {% include icon-linkedin.html username=site.linkedin_username %}
            {% include icon-twitter.html username=site.twitter_username %}
        </p>
    </div>
    <div class="container text-center">
        <p style="font-size: smaller;">Copyright &copy; <a href="https://jonnylangefeld.com" target="_blank">{{ site.footer }}</a> 20{{ site.time | date: '%y' }}</p>
    </div>
</footer>
