    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2 class="brand-heading">Mckenzie Langefeld</h2>
                        <p class="intro-text">
                            Hi there! I'm Mckenzie, a percussionist in the bay area. 
                        </p>
                        <p class="intro-text">
                            If you don't know what a percussionist is, I'd love to tell you more! <br>
                            If you have any questions about gigs/performances, piano, percussion, or drum set lessons, <a href="#contact" class="page-scroll">contact me here</a>, can't wait to hear from you!
                        <p>
                            <a href="#bio" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
