 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/assets/js/jquery.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/assets/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/jquery.google.calendar.js" | prepend: site.baseurl }}" type="text/javascript"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/assets/js/grayscale.js" | prepend: site.baseurl }}"></script>