    <section id="lessons">
        <div class="gradient content-section">
            <div class="lessons-section text-center">
                <div class="container">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p>Mckenzie currently teaches private piano, percussion, and drum set lessons in the bay area to over 20 young musicians
                        ages 4-16.</p>
                        <p>She was on faculty at the CODA Mountain Music Festival in West Virginia in the summers of 2017 and 2018, teaching the
                        percussionists as well as the beginning pianists.</p>
                    </div>
                    <a href="#contact" class="btn btn-default btn-lg page-scroll">contact Mckenzie for lessons</a>
                </div>
            </div>
        </div>
    </section>