{% for section in site.sections %}
    <!-- {{ section.title | downcase }} Section -->
    <section id="{{ section.title | downcase }}" class="container content-section text-center {% if section.backgroundUrl %}bright{% endif %}">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>{{ section.title }}</h2>
                {% if section.content contains '<!--more-->' %}
                    <div>
                        {{ section.content | split:'<!--more-->' | first }}
                    </div>
                    <input type="checkbox" class="read-more-state" id="read-more-{{ section.title | downcase }}" />
                    <div class="read-more">
                        {{ section.content | split:'<!--more-->' | last }}
                    </div>
                    <label for="read-more-{{ section.title | downcase }}" class="read-more-trigger"></label>
                    {% if section.after %}
                        <div style="padding-top: 1em;">
                            {{ section.after }}
                        </div>
                    {% endif %}
                {% else %}
                    {{ section.content }}
                {% endif %}
            </div>
        </div>
    </section>

    {% if section.backgroundUrl %}

        <script>
            background = $("#{{ section.title | downcase }}").wrap("<div id='{{ section.title | downcase }}-background'></div>")
            gradient = background.wrap("<div class='gradient'></div>");
        </script>

        <style>
            #{{ section.title | downcase }}-background {
                background: url({{ section.backgroundUrl }}) no-repeat center center scroll;
                background-size: cover;
            }
        </style>

    {% else %}
        <script>
            background = $("#{{ section.title | downcase }}").wrap("<div class='container-wrapper'></div>")
        </script>
    {% endif %}
{% endfor %}